<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PyZkUI</title>
    <link rel="stylesheet" href="/static/bootstrap-4.5.3.min.css">
</head>
<body>
    <div class="container">
        {% include '_nav_0.html' %}
        <hr>
        <div id="titleAndButtonArea" style="margin-bottom: 15px">
            <h5 style="display: inline">Zookeeper Hosts</h5>
        </div>

        {% include '_modal_0.html' %}

        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Host</th>
              <th scope="col">Time</th>
              <th scope="col">Ops</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
    </div>
</body>
<script src="/static/jquery-3.5.1.min.js"></script>
<script src="/static/bootstrap-4.5.3.bundle.min.js"></script>
<script src="/static/home.js"></script>
</html>