<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PyZkUI</title>
    <link rel="stylesheet" href="/static/bootstrap-4.5.3.min.css">
</head>
<body>
    <div class="container">
        {% include '_nav_0.html' %}
        <hr>
        <div id="titleAndButtonArea" style="margin-bottom: 15px">
            <h5 style="display: inline">Zookeeper Hosts</h5>
        </div>

        {% include '_modal_0.html' %}

        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Host</th>
              <th scope="col">Time</th>
              <th scope="col">Ops</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
    </div>
</body>
<script src="/static/jquery-3.5.1.min.js"></script>
<script src="/static/bootstrap-4.5.3.bundle.min.js"></script>
<!--<script src="/static/zk-1.0.js"></script>-->
<script>

let addBtn = '<button id="addBtn" type="button" class="btn btn-outline-info btn-sm" style="margin-left: 5px" data-toggle="modal" data-target="#addHostModal">+</button>'
let loadSpin = '<div id="loadSpin" class="spinner-border spinner-border-sm text-secondary" role="status"><span class="sr-only">Loading...</span></div>'

function openNodePage(hostId){
    window.location.href = "/zk?id="+hostId;
}

function showAlert(message){
    let alert = '<div class="alert alert-warning alert-dismissible fade show" role="alert">';
    alert += message;
    alert += '<button type="button" class="close" data-dismiss="alert" aria-label="Close">'
    alert += '<span aria-hidden="true">&times;</span></button></div>'
     $(".container").append(alert);
}

function generateRow(hostRow){
    let id = hostRow.id;
    let gBtn = '<button type="button" class="btn btn-outline-success btn-sm" onclick="openNodePage(' + id + ')">√</button>';
    let dBtn = '<button type="button" class="btn btn-outline-danger btn-sm" onclick="deleteHost(' + id + ')">-</button>';
    let row = '<tr><th scope="row">' + id + '</th><td>' + hostRow.host + '</td>';
    row += '<td>' + hostRow.time + '</td><td>';
    row += gBtn;
    row += dBtn;
    row += '</td></tr>';
    return row;
}

function reloadHostTable(){
    $.ajax({
        url: "/load_hosts",
        type: "get"
    }).done(function(data){
        let hostTableHtml = "";
        $.each(data, function(index, row){
            hostTableHtml += generateRow(row);
        });
        $("tbody").html(hostTableHtml);
    });
}

<!--TODO: RESTAPI-->
function deleteHost(hostId){
    $("#addBtn").remove();
    $("#titleAndButtonArea").append(loadSpin);
    $.ajax({
        url: "/delete_host",
        type: "get",
        data: {id: hostId}
    }).done(function(data){
        $("#loadSpin").remove();
        $("#titleAndButtonArea").append(addBtn);
        if (data.status == 'failed') {
            showAlert('Failed to delete hostId=' + hostId + '.')
        }
        reloadHostTable();
    })
}


$(document).ready(function(){
    $("#titleAndButtonArea").append(addBtn)
    reloadHostTable();

    $("#saveBtn").click(function(){
        let host = $("#inputHost").val() + ":" + $("#inputPort").val();
        $("#addBtn").remove();
        $("#titleAndButtonArea").append(loadSpin)
        $.ajax({
            url: "/add_host",
            type: "get",
            data: {host: host}
        }).done(function(data){
            $("#loadSpin").remove();
            $("#titleAndButtonArea").append(addBtn)
            if (data.status == 'success') {
                $("tbody").append(generateRow(data));
            } else {
                let message = '<strong>Connect Failed!</strong> Please check the host <i>' + host + '.</i>';
                showAlert(message);
            }
        });
    });
});
</script>
</html>